*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color: #fff;
}
  
main {
    height: calc(100vh - 90px);
}
  
main::after {
    content: '';
    display: table;
    clear: both;
}
  
a {
    color: #717171;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}
  
a:hover {
    color: #fff;
}
  
a.active-link {
    color: #fff;
}

ul {
    list-style-type: none;
}

.fa-play-circle{
    font-size: 60px;
    color: white;
}



/* sidebar */
 .sidebar {
    float: left;
    width: 230px;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    text-align: left;
}
 
.sidebar-top{
    height: calc(100% - 100px);
}
  
/* logo */
.logo img { 
    display: inline;
    width: 150px; 
    padding: 10px;
}

  
  
/* main navigation */
.main-nav li {
    position: relative;
}
  
.main-nav li a {
    display: block;
    padding: 10px;
}
  
.main-nav li img {
    display: inline;
    height: 25px;
    vertical-align: middle;
}
  
.main-nav-text {
    display: inline;
}
  
/* PLaylist */
.playlist {
    padding: 15px;
}
  
.add-list-item a {
    display: block;
}
  
.add-list-item a:hover .plus {
    background-color: #fff;
}
  
.add-list-item .plus {
    display: inline-block;
    color: #000;
    background-color: #717171;
    padding: 10px 12px;
    font-size: 1.5em;
    transition: .2s;
}
  
.list-item {
    overflow: auto;
    height: calc(100vh - 500px);
    margin-bottom: 10px;
}
  
.list-item li {
    padding: 10px 0;
}
  
/* install app + user */
.sidebar-bottom {
    text-align: center;
}
  
.install-app,
.user {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    text-align: left;
}
  
.sidebar-bottom  img {
    vertical-align: middle;
}
  
.sidebar-bottom .install-app img {
    width: 25px;
    margin-left: -5px;
}
  
.user .profile-avatar img {
    width: 30px;
}

.user a {
    line-height: 30px;
}
  
.user .user-name {
    /* font-size: 1.2em; */
    font-weight: 600;
    color: #fff;
    margin-left: 5px;
}

.round{
    border-radius: 50%;
    background-color: #717171;
    color: white;
    display: inline;
}

/* Main content */

.main-content {
    width: calc(100% - 230px);
    float: left;
    height: 100%;
    background: rgb(10, 2, 44);
    overflow-y: auto;   
}

/* Top panel upgrade */
.top-panel {
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}


/* upgrade button */
.upgrade-btn {
    padding: 10px 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    margin: 0 40px;
    background-color: #0000004d;
    font-size: 0.8em;
    text-align: center;
    transition: .2s ease-in-out;
}

.upgrade-btn:hover {
    transform: scale(1.08);
}

/* content box */

.content-box {
    padding: 100px 20px 20px;
}

/* content navigation */
.content-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.content-nav > li {
    margin-right: 15px;
    position: relative;
}


/* Section contenuto recently played, creato per, più popolari*/

.intro {
    margin-bottom: 20px;
}
  
.intro h2 {
    margin-bottom: 5px;
}
  
#recently-played ul,
#created-for ul,
#popular-artists ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  

/* immagini delle sezioni */

.section-intro {
    margin-bottom: 20px;
}
  
.section-intro h2 {
    margin-bottom: 5px;
}
  
#recently-played ul,
#created-for-user ul,
#popular-artists ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
  
li.thumbnail-wrap {
    flex-basis: calc((100%/6) - 10px);
    text-align: center;
    cursor: pointer;
    margin: 0 0 30px 10px;
}
  
li.thumbnail-wrap img {
    width: 100%;
}
  
.thumbnail-wrap .title {
    font-size: 1.3em;
}
  
.thumbnail-wrap .subtitle {
    font-size: 1.1em;
    color: #717171;
}
  
.thumbnail-image {
    position: relative;
}
  
.thumbnail-image  .thumbnail-overlay {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #000000a8;
}
  
.thumbnail-image  .thumbnail-overlay i {
    opacity: 0%;
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
  
.thumbnail-wrap:hover .thumbnail-overlay  {
    height: 100%;
}
  
.thumbnail-wrap:hover  .thumbnail-overlay i {
    opacity: 100%;
}







/* footer */

footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
